@use '../../../styles/variables' as *;

.not-found {
	min-height: 70vh;
	display: grid;
	place-items: center;
	padding: $spacing-unit * 2;
	text-align: center;
	color: $color-text;
}

.not-found__content {
	max-width: 600px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}