@use 'variables' as *;

*, *::before, *::after { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji"; color: $color-text; }
a { color: inherit; text-decoration: none; }

img { max-width: 100%; height: auto; display: block; }

button, input, select, textarea { font: inherit; }

.container {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 $spacing-unit;
	width: 100%;
}
